.mui-content {
  height: 100%;
  background-color: #fff;
}
.mui-content .container {
  padding-left: 10px;
}
.mui-content .container label {
  display: inline-block;
  width: 35%;
  height: 37px;
  line-height: 37px;
}
.mui-content .container input {
  height: 37px;
  width: 65%;
  border: none;
  margin-bottom: 0;
}
.mui-content .container input[type=button] {
  width: 100%;
  display: block;
  text-align: center;
  background-color: #006699;
  color: #fff;
}
.mui-content .container .password {
  position: relative;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}
.mui-content .container .password span {
  position: absolute;
  right: 10px;
  top: 8px;
  font-size: 20px;
  color: #999;
}
.mui-content .container .username {
  border-bottom: 1px solid #ccc;
}
.mui-content .container .btn {
  padding-right: 10px;
}
.mui-content .container a {
  margin-top: 20px;
  padding-right: 10px;
  color: #006699;
}
